 {% extends "basehr.html" %} {% csrf_token %} {% block content %} {% for employee in employees %}

<div class="col-md-10  mt-sm-4">
    <div class="jumbotron " style="width:1070px;margin-right:0px;">
        <div class="row">
            <div class="col-md-6 ">
                <b><h2 style="color:#7D3C98 " class="display-5 font-bold" >Add Employee</h2></b></div>
            <div class="col-md-6  input-container">
                <label for="Name"><b style="font-style:bold; color:red;">Employee ID: &nbsp;</b></label>
                <input type="password" disabled name="password" placeholder={{empid}}>

            </div>
        </div>

<form action="addemphr"  method="post">

        <br> {% csrf_token %}



        <table class="table">
            <tbody>
                <tr>
                    <td><label for="fullname">Full Name:</label></td>
                    <td><input type="text" placeholder="Enter full name" name="full_name" required></td>
                    <td><label for="fatherName">Father's Name:</label></td>
                    <td><input type="text" placeholder="Enter father's name" name="father_name" required></td>
                </tr>

                <tr>
                    <td><label for="contact">Contact No:</label></td>
                    <td><input type="text" placeholder="Enter Contact No" name="contact" required></td>
                    <td><label for="aadhar">Aadhar Card No:</label></td>
                    <td><input type="text" placeholder="Enter Aadhar Card No" name="aadhar" required></td>
                </tr>

                <tr>
                    <td><label for="pan">PAN No:</label></td>
                    <td><input type="text" placeholder="Enter PAN No" name="pan" required> </td>
                    <td><label for="whrs">Working hours:</label></td>
                    <td><input type="text" placeholder="Enter Working hours" name="whrs" required></td>
                </tr>

                <tr>

                    <td><label for="email">Official Email id:</label></td>
                    <td><input type="email" placeholder="Enter email id" name="oemail" required></td>
                    <td><label for="email">Personal Email id:</label></td>
                    <td><input type="email" placeholder="Enter email id" name="pemail" required></td>
                </tr>

                <tr>
                    <td><label for="designation">Designation:</label></td>
                    <td><input type="text" placeholder="Enter Designation" name="designation" required></td>
                    <td><label for="department">Department:</label></td>
                    <td><input list="browsers" name="dept" id="dept" required>
                        <datalist id="browsers">
                                         <option value="Human Resource">Human Resource </option>
                                         <option value="Technical">Technical</option>
                                         <option value="Marketing">Marketing</option>
                                         <option value="Finance">Finance</option></datalist>

                    </td>
                </tr>

                </tr>
                <td><label for="Gender">Gender:</label></td>
                <td> <input type="radio" placeholder="Male" name="Gender" value="Male">Male
                    <input type="radio" placeholder="Female" name="Gender" value="Female">Female </td>
                <td> <label for="doj">Date of Join:</label></td>
                <td><input type="date" placeholder="Enter DOJ" name="doj" required></td>

                </tr>

                <td><label for="address">Residential Address:</label></td>
                <td><input type="text" placeholder="Residential Address" name="address"></td>
                <td><label for="job_loc">Job location:</label></td>
                <td><input type="text" placeholder="Job Location" name="job_loc"> </td>
                </tr>

                <tr>
                    <td> <label for="bank_name">Bank Name:</label></td>
                    <td> <input type="text" placeholder="Enter Bank Name" name="bank_name"></td>
                    <td> <label for="ba_no">Bank Account No:</label></td>
                    <td> <input type="text" placeholder="Bank Account No" name="ba_no"> </td>
                </tr>
                <tr>
                    <td> <label for="pfno">Provident Fund No:</label></td>
                    <td><input type="text" placeholder="Enter PF No" name="pfno"></td>
                    <td><label for="Salary">Salary:</label></td>
                    <td><input type="text" placeholder="Enter Salary" name="salary" required></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button> {% if messages %} {% for message in messages %} {% if message.tags %}
                <script>
                    alert("{{ message }}")
                </script> {% endif %} {% endfor %} {% endif %}
            </div>
            <div class="col-md-4">
                <a href="{% url 'exist_emphr' employee.id %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Back to list
                </a>
            </div>
        </div>
        </form>
        `{% endfor %}
    </div>
</div>
{% endblock %}