{% extends "basehr.html" %} 
{% load crispy_forms_tags %} 

{% block content %}
{% for employee in employees %}

<div class="col-md-10  mt-sm-4">
<div class="jumbotron" style="width:1070px; margin-right:0px;">
<b><h2 style="color:#7D3C98 " class="display-5 font-bold">Employee Details</h2></b>

<hr class="my-4">
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {{form.full_name|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.father_name|as_crispy_field}}
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-6">
            {{form.contact|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.aadhar|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.pan|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.whrs|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.oemail|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.pemail|as_crispy_field}}
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.designation|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.dept|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.Gender|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.doj|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.address|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.job_loc|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.bank_name|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.ba_no|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.pfno|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.salary|as_crispy_field}}
        </div>
    </div>




    <div class="row">
        <div class="col-md-8">
           <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'exist_emphr' employee.id %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>
</div>
</div>
{% endfor %}
{% endblock content %}