 {% extends "base.html" %}{% block content %} {% csrf_token %} 
<div class="col-md-10  mt-sm-4">
    <div class="jumbotron" style="width:1100px; margin-right:0px; padding-left:25px;">
        <div class="row">
            <div class="col-md-8 ">
                <b><h2 style="color:#7D3C98 " class="display-5 font-bold" >Salary Payment History</h2></b></div>
    
</div>
            <hr class="my-4">
            <table class="table table-borderless" id="myTable">
                <thead class="border-bottom font-weight-bold">
                    <tr>
               
                    <th> S.NO</th>
                       
                        <th>Department</th>
                        <th>EMP.ID</td>
                            <th>Employee Name</th>
                            <th>Account No</th>
                        
                            <th>Gross Salary</th>
                            <th>PF</th>
                            <th>ESI</th>
                   
                            <th>Total Deduction</th>
                            <th>Amount Paid</th>
                             <th>Date of Payment</th>
                             <th>Status</th>
                      


                            </td>
                    </tr>
                </thead>
                <tbody>
                  {% for emp_sal in sal %}
                      
                          
                        <tr>
                        <td class='count'></td>
                             
                             
                            <td>{{emp_sal.dept}}</td>
                            <td>{{emp_sal.emid}}</td>
                            <td>{{emp_sal.emp_name}}</td>
                            <td>{{emp_sal.acno}}</td>
                            <td>{{emp_sal.gross}}</td>
                            <td>{{emp_sal.pf}}</td>
                            <td>{{emp_sal.esi}}</td>
                            <td>{{emp_sal.total_dedu}}</td>
                            <td>{{emp_sal.payable}}</td>    
                             <td>{{emp_sal.date_of_payment}}</td>      
                              <td>Pending</td>      
                            
                        </tr>
                        

                        {% endfor %}
                            
                        <tr>{% for emp_sal in salary %}
                      
                        <td class='count'></td>
                             
                             
                            <td>{{emp_sal.dept}}</td>
                            <td>{{emp_sal.emid}}</td>
                            <td>{{emp_sal.emp_name}}</td>
                            <td>{{emp_sal.acno}}</td>
                            <td>{{emp_sal.gross}}</td>
                            <td>{{emp_sal.pf}}</td>
                            <td>{{emp_sal.esi}}</td>
                            <td>{{emp_sal.total_dedu}}</td>
                            <td>{{emp_sal.payable}}</td>    
                             <td>{{emp_sal.date_of_payment}}</td>      
                                <td>{{emp_sal.status}}</td>      
                            
                        </tr>
                        

                        {% endfor %}
                </tbody>
            </table>
       <div class="row">
            <div class="col-md-6 "><b style='float:right;color:#7D3C98;'>
     Total Payable:</b></div>
      <div class="col-md-6 "><b style='float:left;'>
     {{total}}</b></div></div>
 <div class="row">
            <div class="col-md-6 "><b style='float:right;color:#7D3C98;'>
     Total Amount Paid:</b></div>
     <div class="col-md-6 "><b style='float:left;'>
     {{amount}}</b></div></div>
      <div class="row">
            <div class="col-md-6 "><b style='float:right;color:#7D3C98;'>
     Balance Amount:</b></div>
     <div class="col-md-6 "><b style='float:left;'>{{balance}}</b></div></div>
           
          
        </div>
    </div>
    {% endblock content %}