 
{% extends "base.html" %}
{% csrf_token %}

{% block content %}


<div class="col-md-10  mt-sm-4">
<div class="jumbotron " style="width:1070px;margin-right:0px;">
<b><h2 style="color:#7D3C98 " class="display-5 font-bold" >View Services</h2></b>

<hr class="my-4">
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Service ID</td>
            <td>Service Name</td>
            <td>Category</td>
            <td>Cost(Per Unit)</td>
            <td>Technology</td>
            <td>Discount</td>
            <td>
                <a href="{% url 'new_services' %}" style="border: none;" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
            <tr>
                <td>{{service.service_id}}</td>
                <td>{{service.service_name}}</td>
                <td>{{service.category}}</td>
                <td>{{service.cost}}</td>
                <td>{{service.technology}}</td>

                <td>
               <button class="open-button" onclick="openForm()">Click me</button></td>
                



                <td>
                    <a href="{% url 'service_update' service.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'service_delete' service.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
         {% endfor %}   
   </tbody>
</table>

<div class="form-popup " id="myForm">
  <form action="{% url 'discount' %} " class="form-container" method='post'>
 
    {% csrf_token %}
<table>
<tr><td>
    <label for="service_id"><b>Service ID</b></label></td>
    <td><input type="text"  name="service_id" required></td></tr>
<tr><td>
    <label for="dis_per"><b>Discount Percentage</b></label></td>
    <td><input type="text"  name="dis_per" required></td></tr>
  
<tr><td>
    <label for="from_date"><b>From Date</b></label></td><td>
    <input type="date"  name="from_date" required><br></td></tr>
<tr><td>
    <label for="to_date"><b>To Date</b></label></td><td>
    <input type="date"  name="to_date" required><br></td></tr><tr><td><br>

    <button type="submit" class="btn">Submit</button></td><td><br>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button></td></tr></table>
  </form>
</div>
 


<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

{% endblock content %}

